body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: rgb(247, 220, 230);
}

h1 {
  text-align: center;
}

.form {
  max-width: 50%;
  margin: 30px auto;
}

input,
textarea {
  background: transparent;
}
